.logo-header {
  @media screen and (max-width: 767px) {
    top: 16px;
    left: 15px;
  }
  @media screen and (max-width: 1199px) {
    top: 26px;
    left: 15px;
  }
}
.webstudio {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
  letter-spacing: 0.03em;
  padding: 24px 0px;
  text-decoration: none;
  text-align: left;
  color: var(--accent-color);
}
.Weblogo {
  color: var(--text-color);
}
.Web_logo_footer {
  color: var(--main-color);
}
