:root {
  --main-color: #ffffff;
  --text-color: #212121;
  --accent-color: #2196f3;
  --alt-text-color: #757575;
  --main-bg-color: #f5f4fa;
  --alt-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --bgc-backdrop: #00000033;
  --black: #000000;
  --border: #ffffff1a;
}
